{% extends "structure.html" %}

{% block title %}
<title> All about me </title>
{% endblock title %}


{% block main %}
<div class='container'>
<h1>This is the about page</h1>

    <div class="container-sm">
        <img src='../static/img/iqbal.jpg' class = "rounded" style='float: right;'/>
    </div>
    <div class="container-sm">
        <p id = 'about'>Hello, my name is S.M.Hashim. A graduate of Computer Science from
             NED University of Engineering and Technology. Currently, working as a Software Engineer
            in a a software house</p>
    </div>
    
   </div>


{% endblock main %}