{% extends "structure.html" %}


{% block title %}
<title> Board </title>
{% endblock title %}

{% block main %}
<h1>MY DASHBOARD</h1>

    <p>TO DO.....</p>
    <div class="row">
        <div class="col">
           
                <form action="/add_item" method="POST">
                    <h3>Add Item</h3>
                    <p style="font-family:verdana">
                        Choose a list:<SELECT name="lists" style="font-family:verdana">
                        {% for list in lists %}
                          <OPTION value={{list[0]}}>{{list[0]}}</OPTION>
                        {% endfor %}
                    <input type="text" name = 'new_item' placeholder="Item">
                    <input type="submit" name = "add_item" value="Add">
                </form>
                </SELECT>
                </p>
            
        </div>

        <div class="col-sm">
            <form action="/create_new_list" method="POST">
                <h3>Create New List</h3>
                <input type="text" name = 'new_list' placeholder="Name">
                <input type="submit" name = "create_list" value="Create">
            </form>
        </div>

        
    </div>

    <form action="/login" method="GET">
        <input type="submit" name="logout" value="logout">
    </form>
    
 


{% endblock main %}